.swiper {
    margin-top: 100px;
    /* 元々は600px */
    max-width: 90%;
    height: 500px;
    /* 画面幅の応じて高さを変えたい時 */
    aspect-ratio: auto;
    margin-bottom: 120px;
    /* 画面幅に応じて高さを固定したい時 */
    /* height: 500px; */

    /* スマホやパソコンのそれぞれの画面の全域に表示させたい時 */
    /* height: 100vh; */
}

/* Swiperのスライド画像をSwiperの大きさにフィットさせるCSS */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 画面幅500px以下で調整 */
@media screen and (max-width: 500px) {
    /* Swiperコンテナの幅を100%にして、高さは調整 */
    .swiper {
        width: 100%;
        height: 250px; /* 低解像度で見切れないように高さを調整 */
    }

    /* Swiperのスライド画像 */
    .swiper-slide img {
        width: 100%;
        height: auto; /* 画像の高さを自動調整 */
        object-fit: contain; /* 画像が収まるように調整 */
    }
}
